/* your CSS goes here*/
@font-face {
  font-family: Meie;
  src: url(../webfonts/MeieScript-Regular.ttf);
}
body {
  height: 100vh;
  color: white;
}
.wrapper {
  /* background-image: linear-gradient(#1d1f21, #000000); */
  background-image: url(../image/background2.svg);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  background-image: url(../image/background2.svg);
  /* background-image: linear-gradient(#1d1f21, #000000); */
  color: white;
  font-family: Meie;
}

#regForm {
  /* margin: 0px auto; */
}
.form-check-input {
  float: none !important;
  margin-left: 0px !important;
  cursor: pointer;
}
.form-check-label {
  padding-right: 10px !important;
  cursor: pointer;
}
.form-check-input:checked {
  background-color: #67f90ea6;
  border-color: #67f90ea6;
  box-shadow: none;
}
.question .form-check-input:checked {
  background-color: #67f90ea6;
  border-color: #67f90ea6;
  box-shadow: none;
}
.question .optionBox {
  width: 45%;
  background-color: #000;
  color: #e4e4e4;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  margin-top: 10px;
  margin-inline: 3px;
  justify-content: center;
  cursor: pointer;
  /* display: inline-flex; */
}
.optionBox2.active {
  border: 1px solid #67f90ea6;
}
.optionBox2 {
  /* width: 45%; */
  display: flex;
  background-color: #000;
  color: #e4e4e4;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  margin-top: 10px;
  margin-inline: 3px;
  padding: 5px 0;
  align-items: center;
  cursor: pointer;
  /* display: inline-flex; */
}
.sideLine {
  width: 10.758px;
  height: 31px;
  flex-shrink: 0;
  background-color: white;
}

.input_field input,
.input_field input:focus {
  background-color: #000;
  color: #e4e4e4;
  border-color: #e4e4e4;
}
.input_field input::placeholder,
.input_field input:focus {
  color: #e4e4e4;
}

/* input.invalid {
  background-color: #ffdddd;
} */

.tab {
  display: none;
}
.gradian_button {
  background-image: linear-gradient(
    130deg,
    #eb1d1d8c,
    #ff00008f,
    #00ff0a54 80%
  );
  box-shadow: 0px 4px 8px 0px rgba(50, 50, 71, 0.06),
    0px 4px 4px 0px rgba(50, 50, 71, 0.08);
  border-radius: 5px;
  overflow: hidden;
  /* padding: 5px; */
}

button {
  border-radius: 5px;
  margin: 1px;
  background-color: #000;
  border: none;
  color: #ffffff;
  padding: 10px 50px;
  font-size: 17px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

.thanks-message {
  display: none;
}
.disabled {
  display: none;
}
#nextprevious {
  display: flex;
}
